.successmessage {
    width: 60vw;
    background-color: #d4edda;
    color: #188d00;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin: 1em auto;
    margin-bottom: 15px;
    text-align: center;
}