@import url(https://fonts.googleapis.com/css2?family=Aldrich&display=swap);

.container {
    width: 60vw;
    margin: 0 auto;
    margin-top: 1em;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.082);
}

.container label {
    font-family: "Aldrich", sans-serif;
    font-size: 1em;
    margin-top: 1em;
}

.container {
    background-color: rgba(0, 0, 0, 0.021);
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.container input {
    margin: .5em;
    border: 1px solid rgba(139, 139, 255, 0.301);
    border-radius: .3em;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.082);
}

.container select {
    margin: .5em;
    border: 1px solid rgba(139, 139, 255, 0.301);
    border-radius: .3em;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.082);
}

.container span {
    padding: .5em;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.082);
    border-radius: 3px;
}

.div1 {
    grid-column: span 6 / span 6;
}


.div2 {
    grid-column: span 2 / span 2;
    grid-column-start: 7;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-column-start: 10;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-column-start: 13;
}

.div5 {
    grid-column: span 3 / span 3;
    grid-column-start: 17;
    grid-row-start: 1;
}

.div6 {
    grid-column: span 3 / span 3;
    grid-column-start: 15;
    grid-row-start: 1;
}


.div7 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
}

.div8 {
    grid-column: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 2;
}


.div9 {
    grid-column: span 2 / span 2;
    grid-column-start: 9;
    grid-row-start: 2;
}

.div10 {
    grid-column: span 2 / span 2;
    grid-column-start: 11;
    grid-row-start: 2;
}

.div11 {
    grid-column: span 2 / span 2;
    grid-column-start: 14;
    grid-row-start: 2;
}

.div11 input {
    width: 8em;
}

.div12 {
    grid-column: span 2 / span 2;
    grid-column-start: 17;
    grid-row-start: 2;
}

.divmae1 {
    grid-column: span 5 / span 5;
}

.divmae2 {
    grid-column: span 2 / span 2;
    grid-column-start: 6;
}

.divmae3 {
    grid-column: span 2 / span 2;
    grid-column-start: 9;
}

.divmae4 {
    grid-column: span 2 / span 2;
    grid-column-start: 12;
}

.divmae5 {
    grid-column: span 2 / span 2;
    grid-column-start: 14;
    grid-row-start: 1;
}

.divmae6 {
    grid-column: span 2 / span 2;
    grid-column-start: 17;
    grid-row-start: 1;
}


.divmae7 {
    grid-column: span 6 / span 6;
    grid-column-start: 1;
    grid-row-start: 2;
}

.divmae8 {
    grid-column: span 3 / span 3;
    grid-column-start: 7;
    grid-row-start: 2;
}


.divmae9 {
    grid-column: span 4 / span 4;
    grid-column-start: 9;
    grid-row-start: 2;
}

.divmae10 {
    grid-column: span 4 / span 4;
    grid-column-start: 12;
    grid-row-start: 2;
}

.divmae11 {
    grid-column: span 2 / span 2;
    grid-column-start: 15;
    grid-row-start: 2;
}

.divmae12 {
    grid-column: span 2 / span 2;
    grid-column-start: 17;
    grid-row-start: 2;
}

.containerbotao {
    width: 63vw;
    text-align: end;
    margin: 1em;
}

.botao {
    font-size: 1em;
    padding: 1em;
    border: none;
    background-color: rgba(156, 223, 156, 0.514);
    border-radius: .3em;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.171);
    font-family: "Outfit", sans-serif;
    margin: 1em;
}

.botao svg {
    font-size: 1.2em;
    margin-right: .4em;
}
.botao:hover {
    background-color: rgba(145, 223, 145, 0.781);
    color: rgb(255, 255, 255);
    transition: .4s;
}

.botao3 {
    font-size: 1em;
    padding: .3em;
    border: none;
    background-color: rgba(241, 245, 241, 0.514);
    border-radius: .3em;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.171);
    font-family: "Outfit", sans-serif;
}

.botao svg {
    font-size: 1em;
    margin-right: .4em;
}
.botao3:hover {
    background-color: rgba(145, 223, 145, 0.781);
    color: rgb(255, 255, 255);
    transition: .4s;
}

.botao4 {
    font-size: 1em;
    padding: 1em;
    border: none;
    background-color: rgba(223, 172, 156, 0.514);
    border-radius: .3em;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.171);
    font-family: "Outfit", sans-serif;
    margin: 1em;
}

.botao4 svg {
    font-size: 1.2em;
    margin-right: .4em;
}
.botao4:hover {
    background-color: rgba(223, 172, 156, 0.753);
    color: rgb(255, 255, 255);
    transition: .4s;
}