.containerboletos {
    width: 60vw;
    margin: 0 auto;
    margin-top: 1em;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.082);
    background-color: rgba(0, 0, 0, 0.021);
    padding: .5em;
    padding-top: 1.2em;
}

.div2 {
    grid-column: span 3 / span 3;
}

.div3 {
    grid-column: span 3 / span 3;
    grid-column-start: 6;
}

.div4 {
    grid-column-start: 8;
    padding-left: 1.3em;
}

.div5 {
    grid-column-start: 10;
    padding-left: .3em;
}

.div6 {
    grid-column-start: 11;
    padding-left: 1.7em;
}

.div7 {
    grid-column-start: 12;
    padding-left: 1.5em;

}