.container {
    width: 60vw;
    margin: 0 auto;
    margin-top: 1em;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.082);
    background-color: rgba(0, 0, 0, 0.021);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.082);
    padding: 2em;
}

.containerboletos ul {
    padding: 0;
}

.containerbotao {
    text-align: end;
    margin: 1em;
    width: 60vw;
    margin: 0 auto;
}

.cabecalho {
    margin: 0em auto;
    width: 50vw;
    display: flex   ;
    align-items: center;
    justify-content: space-between;
}

.cabecalho h1 {
    font-size: 2rem;
    color: var(--cor-primaria);
}

.cabecalho img {
    width: 150px;
    height: 150px;

}

.spinnercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner {
    animation: spin 1s linear infinite;
    font-size: 2rem;
    color: var(--cor-primaria);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.successmessage {
    width: 60vw;
    background-color: #d4edda;
    color: #188d00;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
}


.botao {
    font-size: 1em;
    padding: 1em;
    border: none;
    background-color: rgba(156, 221, 223, 0.514);
    border-radius: .3em;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.171);
    font-family: "Outfit", sans-serif;
    margin: 1em;
}

.botao svg {
    font-size: 1.2em;
    margin-right: .4em;
}
.botao:hover {
    background-color: rgba(145, 205, 223, 0.781);
    color: rgb(255, 255, 255);
    transition: .4s;
}

.botao3 {
    font-size: 1em;
    padding: 1em;
    border: none;
    background-color: rgba(156, 223, 156, 0.514);
    border-radius: .3em;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.171);
    font-family: "Outfit", sans-serif;
    margin: 1em;
}

.botao3 svg {
    font-size: 1em;
    margin-right: .4em;
}
.botao3:hover {
    background-color: rgba(145, 223, 145, 0.781);
    color: rgb(255, 255, 255);
    transition: .4s;
}

.botao4 {
    font-size: 1em;
    padding: 1em;
    border: none;
    background-color: rgba(223, 172, 156, 0.514);
    border-radius: .3em;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.171);
    font-family: "Outfit", sans-serif;
    margin: 1em;
}

.botao4 svg {
    font-size: 1.2em;
    margin-right: .4em;
}
.botao4:hover {
    background-color: rgba(223, 172, 156, 0.753);
    color: rgb(255, 255, 255);
    transition: .4s;
}

.botao2 {
    font-size: 1em;
    border: none;
    background-color: rgba(156, 221, 223, 0.514);
    border-radius: .3em;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.171);
    font-family: "Outfit", sans-serif;
}

.botao2 svg {
    font-size: 1.2em;
}
.botao2:hover {
    background-color: rgba(145, 205, 223, 0.781);
    color: rgb(255, 255, 255);
    transition: .4s;
}