html, body {
    min-height: 170vh;
    background-color: rgba(57, 80, 105, 0.158);
}

body {
    max-width: 90%;
    font-family: gotham, arial, helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0 auto !important;
}

.espaço {
    width: 70vw;
    text-align: end;
}

img {
    width: 15vw;
    border-radius: 50%;
}

.botao-separado {
    padding: 5px;
    background-color: rgba(151, 198, 212, 0.096);
    border: 0.1px solid rgba(255, 255, 255, 0.096);
}

.botao-separado:hover {
    background-color: rgba(80, 174, 202, 0.096);
    border: 0.1px solid rgba(255, 255, 255, 0.096);
}

.linha {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.247);
}

.table-turmas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 50px;
}

.tabela-dados {
    text-align: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #666; /* this draws the table border  */
    margin: 10px;
}

.sticky-thc {
    text-align: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #666; /* this draws the table border  */
    margin: 10px;
    width: 90%;
}

th {
    background-color: rgb(196, 191, 191);
}

.sticky-thc {
    th {
        position:sticky;
        top: 0;
    }
}

.info-financeiro {
    display: flex;

}

.tabela-financeiro1 {
    margin: 10px;
    text-align: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #666; /* this draws the table border  */
}

.tabela-financeiro1 {

    th {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

}

.infoalunos {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.listaalunos {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

.PerfilDoAluno {
    width: 100px;
    height: 100px;
    margin: 10px 50px;
}

.ContainerAluno {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin: 20px 50px 10px 50px;
    padding: 10px;
    background-color: rgba(130, 171, 177, 0.418);
    border-radius: 5px;
}

.ContainerAluno2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "a b c e";
    justify-content: space-around;
    padding: 10px;
}

.NomeAluno, .Nascimento, .DataMatricula, .Localidade, .CPFAluno, .Endereco {
    margin: 5px;
}

.Sexo  {
    margin: 5px;
    width: 50px;
}

.cabecalho {
    display: grid;
    grid-template-columns: 10fr 1fr;
    margin: 30px;
    padding: 5px 50px;
}

.cabecalho1 {
    display: flex;
    padding: 5px;
}

.cabecalho-historico {
    margin: 40px 15px 30px 15px;
}

.botoes-historico {
    display: flex;
    margin-right: 50px;
    justify-content: end;
}

.botao-separado2 {
    background-color: rgba(151, 198, 212, 0.096);
    border: 0.1px solid rgba(255, 255, 255, 0.096);
}

.botao-separado2:hover {
    background-color: rgba(80, 174, 202, 0.096);
    border: 0.1px solid rgba(255, 255, 255, 0.096);
}

.containerdados {
    margin: 30px;
    padding: 20px;
    border: 1px solid black;
}

.containercabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tituloturmas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a a a a a a a g";
    margin: 10px;
    padding: 10px 0px 0px 90px;
}

.Turma1 {
    grid-area: a;
}

.tabelaturmas {
    display: flex;
    justify-content: center;
}

.container-nota {
    margin: 30px 150px;
    padding: 20px;
    border: 1px solid black;
}

.nota {
    display: block;
    width: 50px;
}

.infonotas {
    display: flex;
    padding: 2px;
}

.notas {
    padding: 8px;
    margin-left:15px ;
}

.media {
    margin-left: 100px;
    padding: 8px;
}

.presença {
    display: block;
    width: 65px;
}

.selecao {
    display: block;
}

.tabela-financeiro {
    display: flex;
    justify-content: space-around;
    margin: 70px;
}

.ListaFinanceiro {
    display: flex;
    justify-content: space-evenly;
}

li { 
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
}

