html, body {
    height: 100vw;
    background-color: rgba(57, 80, 105, 0.158);
}

body {
    max-width: 90%;
    font-family: gotham, arial, helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0 auto !important;
}

.container {
    display: flex;
    background-color: rgba(90, 193, 224, 0.514);
    
}

h1, h3 {
    text-align: center;
}

.espaço {
    width: 70vw;
    text-align: end;
}

img {
    width: 15vw;
}

.botao-separado {
    padding: 5px;
    background-color: rgba(151, 198, 212, 0.096);
    border: 0.1px solid rgba(255, 255, 255, 0.096);
}

.botao-separado:hover {
    background-color: rgba(80, 174, 202, 0.096);
    border: 0.1px solid rgba(255, 255, 255, 0.096);
}

table, .linha {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    justify-content: center;
}

th {
    background-color: rgba(151, 198, 212, 0.411);
}

.infoalunos {
    
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.listaalunos {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

.PerfilDoAluno {
    width: 100px;
    height: 100px;
    margin: 10px 50px;
}

.ContainerAluno {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin: 20px 50px 10px 50px;
    padding: 10px;
    background-color: rgba(130, 171, 177, 0.418);
    border-radius: 5px;
}

.ContainerAluno2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "a b c e";
    justify-content: space-around;
    padding: 10px;
}

.NomeAluno, .Nascimento, .DataMatricula, .Localidade, .CPFAluno, .Endereco {
    margin: 5px;
}

.Sexo  {
    margin: 5px;
    width: 50px;
}

.cabecalho {
    display: grid;
    grid-template-columns: 10fr 1fr;
    margin: 30px;
    padding: 5px 50px;
}

.botao-separado2 {
    background-color: rgba(151, 198, 212, 0.096);
    border: 0.1px solid rgba(255, 255, 255, 0.096);
}

.botao-separado2:hover {
    background-color: rgba(80, 174, 202, 0.096);
    border: 0.1px solid rgba(255, 255, 255, 0.096);
}

.containerdados {
    margin: 30px;
    padding: 20px;
    border: 1px solid black;
}

.containercabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tituloturmas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a a a a a a a g";
    margin: 10px;
    padding: 10px 0px 0px 90px;
}

.Turma1 {
    grid-area: a;
}

.tabelaturmas {
    display: flex;
    justify-content: center;
}
